<h3><%= @individual_author.first_name %>'s Posts</h3>
<ul>
  <%= @individual_author.first_name %> <%= @individual_author.last_name %>
</ul>

<p>
  <%= @individual_author.posts[0]["title"]%> 
</p>

<p>
  <%= @individual_author.posts[0]["body"]%> 
</p>

<%= link_to 'Create Post', url_for(:comments, :new) %>

