<!DOCTYPE htmll>
<html>
  <head>
    <title>Index of Authors</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag :main %>
    </head>

    <body>
      <div class="main">
        <h4>Main Options</h4>
        <div id="navcontainer">
            <ul>
              <li><%= link_to 'Add a Post', url_for(:posts, :new) %></li>
              <li><%= link_to 'List all Posts', url_for(:posts, :index) %></li>
              <li><%= link_to 'List all Authors', url_for(:authors, :index) %></li>
            </ul>
        </div>

        <%= yield %> 

      </body>

    </html>
