<!DOCTYPE htmll>
<html>
  <head>
    <title>Padrino Blog</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag :main %>
    </head>

    <body>
      <h3> TODO: Placeholder for dynamic title </h3>
      <div class="main">
        <div id="navcontainer">
            <ul>
              <li><%= link_to 'Add a Post', url_for(:posts, :new) %></li>
              <li><%= link_to 'List all Posts', url_for(:posts, :index) %></li>
              <li><%= link_to 'Add an Author', url_for(:authors, :new) %></li>
              <li><%= link_to 'List all Authors', url_for(:authors, :index) %></li>
            </ul>
        </div>
        <%= yield %> 

      </body>

    </html>
